.cal{
  width:320px;
  margin: 100px auto;
}

body{
  background: #12c2e9;
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  );
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  );
}

#answer{
  background-color: #e6e6e6;
  padding: 10px;
  text-align: right;
  font-size: 25px;
  height: 40px;
  width: 295px;
  border: 1px solid #333;
}

.button{
  background: #333;
  color: white;
  height: 80px;
  width: 80px;
  font-size: 20px;
  border: 1px solid rgb(119, 116, 116);
}
.button1
{
  width: 160px;
}